<% if @product.price_in(current_currency) and !@product.price.nil? %>
			<div data-hook="product_price">
				<div id="product-price">
						<span class="lead price selling" itemprop="price">
							<%= display_price(@product) %>
						</span>
						<span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
				</div>
			</div>
		<% end %>
