<div id="spree-footer">
	<div class="container">
		<footer id="footer" class="row" data-hook>
			<div id="footer-one" class="col-md-3" data-hook>
				<h5>Sobre Artilujos</h5>
				<div class="horizontal-line"></div>
				<p>Artilujos es un portal de venta de muebles y objetos reciclados hechos por artesanos. Conectamos creadores y consumidores para que encuentres las cosas más especiales.</p>
				<p>Artilujos es un proyecto de <a href="http://www.ephimera.org">Ephimera</a>.</p>
			</div>
			<div id="footer-two" class="col-md-3" data-hook>
				<h5> Registrate y no te pierdas nada</h5>
				<div class="horizontal-line"></div>
				<%= render :partial => 'spree/shared/mailchimp' %>
			</div>
			<div id="footer-three" class="col-md-3" data-hook>
				<h5>Pago seguro</h5>
				<div class="horizontal-line"></div>
				<p>Compra utilizando métodos seguros, con Paypal o tarjeta.</p>
				<br/>
				<h5>100% Satisfacci'on</h5>
				<div class="horizontal-line"></div>
				<p>Si no quedas satisfecho, tienes 15 días para devolver el producto. Sin preguntas. </p>	
			</div>
			<div id="footer-four" class="col-md-3" data-hook>
				<h5>Envío a pedales</h5>
				<div class="horizontal-line"></div>
				<p>Siempre que sea posible, te enviamos tu pedido a casa en bici o en coche eléctrico. Sostenibles de principio a fin.</p>
			</div>
		</footer>
	</div>
</div>
