<div id="sign-up-row" class="row" data-hook>
	<div id="sign-up-form" class="col-md-10 col-md-offset-1" data-hook>
		<div id="join"><%= Spree.t(:sign_up_for_our_newsletter) %></div>
		<div id="signup-data">	<%= render :partial => 'spree/shared/mailchimp_horizontal' %></div>
	</div>
</div>

