<div id="topbar">
	<div class="container">
		<div class="row" id="container-topbar">
			<div id="container-topbar-left" class="col-md-6 col-offset-3">
				El portal de los objetos reciclados y upcycling
			</div>
			<div class="col-md-6" id="container-topbar-right">
				¿Dudas? Llámanos al 91 333 33 33
			</div> 
		</div>
	</div>
</div>
